body{
background-image: url('background.jpg');
background-size: cover;
}

.container{
  width: 1200px;
  height: 600px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  margin: 50px 75px 50px 150px;
}

#logo{
width: 200px;
display: block;
margin-left: auto;
margin-right: auto;
padding-top: 20px;
}

.spot{
  font-family: arial;
  font-size: 20px;
  color: #00dd00;
  text-align: center;
  margin-bottom: 5px;
}


.buttons{
  background-color: #00dd00;
  width: 800px;
  height: 25px;
  border-radius: 5px;
  margin: auto;
  text-align: center;
}

button{
  font-size: 9px;
}


.body{
  margin: 0px 200px;
  padding: 5px;
  color: white;
}

.models{
  display: inline-block;
  font-family: arial;
  font-size: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.location{
  display: block;
  font-family: arial;
  font-size: 10px;
  margin-top: 8px;

}

.medium-battery{
  background-color: #f5b453;
  width: 350px;
  height: 25px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.full-battery{
  background-color: #00dd00;
  width: 500px;
  height: 25px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.low-battery{
  background-color: #be4141;
  width: 200px;
  height: 25px;
  border-radius: 5px;
  margin-bottom: 10px;
}
